Repository Copu-Clock-Out-Pulang/Memoria, changes with the labels that .github/labeler.yml gives for each.
All labels: ci/cd, core, shared, resource, domain, data, presentation, feature, feature-home, feature-destination, feature-splash, feature-scrapbook, feature-image-generator, test, documentation

test: tested data population and migration in CoreData
  Memoria/Features/Splash/Presentation/Pages/SplashViewController.swift
Labels: presentation, feature, feature-splash

refactor: renamed Destination to DestinationCoreDataModel
  Memoria.xcodeproj/project.pbxproj
Labels: none

Update Package.resolved
  Memoria.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
Labels: none

chore: removed target from test
  Memoria.xcodeproj/project.pbxproj
  Memoria.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
Labels: none

feat: Destination migration (#12)
  Memoria.xcodeproj/project.pbxproj
  Memoria.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
  Memoria/Features/Destination/Data/Datasources/DestinationMigration.swift
  Memoria/Features/Destination/Data/Datasources/PersistenceController.swift
  Memoria/Features/Destination/Data/Models/DestinationModel.swift
  Memoria/Features/Destination/Presentation/ViewModel/DestinationViewModel.swift
  Memoria/Features/Splash/Presentation/Pages/SplashViewController.swift
  Memoria/Resources/MemoriaCoreData.xcdatamodeld/Destinations.xcdatamodel/contents
Labels: data, presentation, feature, feature-destination, feature-splash

feat: add destination domain and recommendation
  Memoria.xcodeproj/project.pbxproj
  Memoria/Core/Domain/Failure/Failure.swift
  Memoria/Core/Extensions/Publishers+CustomExtensions.swift
  Memoria/Core/Extensions/UIImage+CustomExtensions.swift
  Memoria/Features/Destination/Domain/Repositories/DestinationRepository.swift
  Memoria/Features/Destination/Domain/Usecases/GenerateRecommendation.swift
  Memoria/Features/Destination/Domain/Usecases/GetTripArea.swift
  Memoria/Features/Destination/Domain/Usecases/GetTripDestinationByArea.swift
  Memoria/Shared/Domain/Entities/Destination.swift
  MemoriaTests/Features/Destination/Domain/Usecases/GenerateRecommendationTests.swift
  MemoriaTests/Features/Destination/Domain/Usecases/GetTripAreaTests.swift
  MemoriaTests/Features/Destination/Domain/Usecases/GetTripDestinationByAreaTests.swift
  MemoriaTests/GeneratedMocks.swift
Labels: core, shared, domain, feature, feature-destination, test

style: Apply linting rules to reformat code
  Memoria/Features/Destination/Data/Datasources/DestinationMigration.swift
  Memoria/Features/Destination/Data/Datasources/PersistenceController.swift
  Memoria/Features/Destination/Data/Models/DestinationModel.swift
  Memoria/Features/Scrapbook/Domain/Repositories/ScrapPageRepository.swift
  Memoria/Features/Scrapbook/Domain/Usecases/AddScrapPage.swift
  Memoria/Features/Scrapbook/Domain/Usecases/DeleteScrapPage.swift
  Memoria/Features/Scrapbook/Domain/Usecases/EditScrapPage.swift
Labels: domain, data, feature, feature-destination, feature-scrapbook

feat: added ScrapPageRepository.swift
  Memoria/Features/Scrapbook/Domain/Repositories/ScrapPageRepository.swift
  MemoriaTests/Features/Scrapbook/Domain/Usecases/AddScrapPageTests.swift
  MemoriaTests/Features/Scrapbook/Domain/Usecases/DeleteScrapPageTests.swift
  MemoriaTests/Features/Scrapbook/Domain/Usecases/EditScrapPageTests.swift
  MemoriaTests/GeneratedMocks.swift
Labels: domain, feature, feature-scrapbook, test

feat: added AddScrapPage usecase
  Memoria/Features/Scrapbook/Domain/Usecases/AddScrapPage.swift
Labels: domain, feature, feature-scrapbook

feat: added EditScrapPage usecase
  Memoria/Features/Scrapbook/Domain/Usecases/EditScrapPage.swift
Labels: domain, feature, feature-scrapbook

feat: added DeleteScrapPage usecase
  Memoria/Features/Scrapbook/Domain/Usecases/DeleteScrapPage.swift
Labels: domain, feature, feature-scrapbook

test: tested AddScrapPage
  MemoriaTests/Features/Scrapbook/Domain/Usecases/AddScrapPageTests.swift
Labels: test

test: tested DeleteScrapPage
  MemoriaTests/Features/Scrapbook/Domain/Usecases/DeleteScrapPageTests.swift
Labels: test

test: tested EditScrapPage
  MemoriaTests/Features/Scrapbook/Domain/Usecases/EditScrapPageTests.swift
Labels: test

test: tested scrap page usecases
  Memoria.xcodeproj/project.pbxproj
  Memoria/Core/Domain/Failure/Failure.swift
  Memoria/Core/Domain/Usecases/UseCase.swift
  Memoria/Core/Extensions/UIImage+CustomExtensions.swift
  Memoria/Features/Destination/Domain/Entities/Area.swift
  Memoria/Features/Destination/Domain/Entities/Recommendation.swift
  Memoria/Features/Destination/Presentation/ViewModel/DestinationViewModel.swift
  Memoria/Features/ImageGenerator/Domain/DestinationImageGenerator.swift
  Memoria/Features/ImageGenerator/Domain/ImageSegmentor.swift
  Memoria/Features/Splash/Presentation/Pages/SplashViewController.swift
  Memoria/Resources/Strings+Generated.swift
  Memoria/Resources/XCAssets+Generated.swift
  Memoria/Shared/Domain/Entities/Destination.swift
  Memoria/Shared/Domain/Entities/ScrapBook.swift
  MemoriaTests/Features/ImageGenerator/Domain/DestinationImageGeneratorTest.swift
  MemoriaTests/Features/ImageGenerator/Domain/ImageSegmentorTests.swift
  MemoriaTests/GeneratedMocks.swift
Labels: core, shared, domain, presentation, feature, feature-destination, feature-splash, feature-image-generator, test

feat: add create scrapbook usecase
  Memoria.xcodeproj/project.pbxproj
  Memoria/Core/Domain/Failure/Failure.swift
  Memoria/Core/Domain/Usecases/UseCase.swift
  Memoria/Core/Extensions/UIImage+CustomExtensions.swift
  Memoria/Features/Destination/Data/Datasources/DestinationMigration.swift
  Memoria/Features/Destination/Data/Datasources/PersistenceController.swift
  Memoria/Features/Destination/Data/Models/DestinationModel.swift
  Memoria/Features/Destination/Domain/Entities/Area.swift
  Memoria/Features/Destination/Domain/Entities/Recommendation.swift
  Memoria/Features/Destination/Domain/Usecases/GenerateRecommendation.swift
  Memoria/Features/Destination/Domain/Usecases/GetTripArea.swift
  Memoria/Features/Destination/Domain/Usecases/GetTripDestinationByArea.swift
  Memoria/Features/ImageGenerator/Domain/DestinationImageGenerator.swift
  Memoria/Features/ImageGenerator/Domain/ImageSegmentor.swift
  Memoria/Features/Scrapbook/Domain/Entities/CreateScrapBookForm.swift
  Memoria/Features/Scrapbook/Domain/Repositories/ScrapBookRepository.swift
  Memoria/Features/Scrapbook/Domain/Usecases/CreateScrapBook.swift
  Memoria/Features/Splash/Presentation/Pages/SplashViewController.swift
  Memoria/Resources/Strings+Generated.swift
  Memoria/Resources/XCAssets+Generated.swift
  Memoria/Shared/Domain/Entities/ScrapBook.swift
  MemoriaTests/Features/Destination/Domain/Usecases/GenerateRecommendationTests.swift
  MemoriaTests/Features/Destination/Domain/Usecases/GetTripAreaTests.swift
  MemoriaTests/Features/Destination/Domain/Usecases/GetTripDestinationByAreaTests.swift
  MemoriaTests/Features/Scrapbook/Domain/Usecases/CreateScrapBook.swift
  MemoriaTests/GeneratedMocks.swift
Labels: core, shared, domain, data, presentation, feature, feature-destination, feature-splash, feature-scrapbook, feature-image-generator, test

chore: removed comments
  MemoriaTests/Features/ImageGenerator/Domain/ImageSegmentorTests.swift
Labels: test

chore: removed comments
  MemoriaTests/Features/ImageGenerator/Domain/DestinationImageGeneratorTest.swift
Labels: test

feat: Added ScrapPage usecases (#13)
  Memoria.xcodeproj/project.pbxproj
  Memoria/Core/Domain/Failure/Failure.swift
  Memoria/Core/Domain/Usecases/UseCase.swift
  Memoria/Core/Extensions/UIImage+CustomExtensions.swift
  Memoria/Features/Destination/Data/Datasources/DestinationMigration.swift
  Memoria/Features/Destination/Data/Datasources/PersistenceController.swift
  Memoria/Features/Destination/Data/Models/DestinationModel.swift
  Memoria/Features/Destination/Domain/Entities/Area.swift
  Memoria/Features/Destination/Domain/Entities/Recommendation.swift
  Memoria/Features/Destination/Presentation/ViewModel/DestinationViewModel.swift
  Memoria/Features/ImageGenerator/Domain/DestinationImageGenerator.swift
  Memoria/Features/ImageGenerator/Domain/ImageSegmentor.swift
  Memoria/Features/Scrapbook/Domain/Repositories/ScrapPageRepository.swift
  Memoria/Features/Scrapbook/Domain/Usecases/AddScrapPage.swift
  Memoria/Features/Scrapbook/Domain/Usecases/DeleteScrapPage.swift
  Memoria/Features/Scrapbook/Domain/Usecases/EditScrapPage.swift
  Memoria/Features/Splash/Presentation/Pages/SplashViewController.swift
  Memoria/Resources/Strings+Generated.swift
  Memoria/Resources/XCAssets+Generated.swift
  Memoria/Shared/Domain/Entities/Destination.swift
  Memoria/Shared/Domain/Entities/ScrapBook.swift
  MemoriaTests/Features/Scrapbook/Domain/Usecases/AddScrapPageTests.swift
  MemoriaTests/Features/Scrapbook/Domain/Usecases/DeleteScrapPageTests.swift
  MemoriaTests/Features/Scrapbook/Domain/Usecases/EditScrapPageTests.swift
  MemoriaTests/GeneratedMocks.swift
Labels: core, shared, domain, data, presentation, feature, feature-destination, feature-splash, feature-scrapbook, feature-image-generator, test

feat: destination domain (#15)
  Memoria.xcodeproj/project.pbxproj
  Memoria/Core/Domain/Failure/Failure.swift
  Memoria/Core/Extensions/Publishers+CustomExtensions.swift
  Memoria/Core/Extensions/UIImage+CustomExtensions.swift
  Memoria/Features/Destination/Domain/Entities/Area.swift
  Memoria/Features/Destination/Domain/Repositories/DestinationRepository.swift
  Memoria/Features/Destination/Domain/Usecases/GenerateRecommendation.swift
  Memoria/Features/Destination/Domain/Usecases/GetTripArea.swift
  Memoria/Features/Destination/Domain/Usecases/GetTripDestinationByArea.swift
  Memoria/Features/Scrapbook/Domain/Entities/CreateScrapBookForm.swift
  Memoria/Features/Scrapbook/Domain/Repositories/ScrapBookRepository.swift
  Memoria/Features/Scrapbook/Domain/Usecases/CreateScrapBook.swift
  Memoria/Shared/Domain/Entities/ScrapBook.swift
  MemoriaTests/Features/Destination/Domain/Usecases/GenerateRecommendationTests.swift
  MemoriaTests/Features/Destination/Domain/Usecases/GetTripAreaTests.swift
  MemoriaTests/Features/Destination/Domain/Usecases/GetTripDestinationByAreaTests.swift
  MemoriaTests/Features/Scrapbook/Domain/Usecases/CreateScrapBook.swift
  MemoriaTests/GeneratedMocks.swift
Labels: core, shared, domain, feature, feature-destination, feature-scrapbook, test

test: regenerate conflicted mocks
  MemoriaTests/GeneratedMocks.swift
Labels: test

feat: destination data layer
  Memoria.xcodeproj/project.pbxproj
  Memoria/Core/DI/InjectionContainer.swift
  Memoria/Core/Domain/Usecases/UseCase.swift
  Memoria/Core/Extensions/NSSet+CustomExtensions.swift
  Memoria/Features/Destination/Data/Datasources/DestinationLocalDataSource.swift
  Memoria/Features/Destination/Data/Models/AreaCoreDataModel+CoreDataClass.swift
  Memoria/Features/Destination/Data/Models/AreaCoreDataModel+CoreDataProperties.swift
  Memoria/Features/Destination/Data/Models/DestinationCoreDataModel+CoreDataClass.swift
  Memoria/Features/Destination/Data/Models/DestinationCoreDataModel+CoreDataProperties.swift
  Memoria/Features/Destination/Data/Models/DestinationModel.swift
  Memoria/Features/Destination/Data/Repositories/DestinationRepositoryImpl.swift
  Memoria/Features/Splash/Presentation/Pages/SplashViewController.swift
  Memoria/Resources/MemoriaCoreData.xcdatamodeld/Destinations.xcdatamodel/contents
  Memoria/Resources/MemoriaCoreData.xcdatamodeld/Memoria.xcdatamodel/contents
Labels: core, data, presentation, feature, feature-destination, feature-splash

feat: destination data layer (#16)
  Memoria.xcodeproj/project.pbxproj
  Memoria/Core/DI/InjectionContainer.swift
  Memoria/Core/Domain/Usecases/UseCase.swift
  Memoria/Core/Extensions/NSSet+CustomExtensions.swift
  Memoria/Features/Destination/Data/Datasources/DestinationLocalDataSource.swift
  Memoria/Features/Destination/Data/Models/AreaCoreDataModel+CoreDataClass.swift
  Memoria/Features/Destination/Data/Models/AreaCoreDataModel+CoreDataProperties.swift
  Memoria/Features/Destination/Data/Models/DestinationCoreDataModel+CoreDataClass.swift
  Memoria/Features/Destination/Data/Models/DestinationCoreDataModel+CoreDataProperties.swift
  Memoria/Features/Destination/Data/Models/DestinationModel.swift
  Memoria/Features/Destination/Data/Repositories/DestinationRepositoryImpl.swift
  Memoria/Features/Splash/Presentation/Pages/SplashViewController.swift
  Memoria/Resources/MemoriaCoreData.xcdatamodeld/Destinations.xcdatamodel/contents
  Memoria/Resources/MemoriaCoreData.xcdatamodeld/Memoria.xcdatamodel/contents
Labels: core, data, presentation, feature, feature-destination, feature-splash

feat: added AreaCoreDataModel and the properties
  Memoria/Core/Storages/PersistenceController.swift
  Memoria/Features/Destination/Data/Models/AreaCoreDataModel+CoreDataClass.swift
  Memoria/Features/Destination/Data/Models/AreaCoreDataModel+CoreDataProperties.swift
  Memoria/Features/Destination/Data/Models/DestinationCoreDataModel+CoreDataClass.swift
  Memoria/Features/Destination/Data/Models/DestinationCoreDataModel+CoreDataProperties.swift
  Memoria/Features/Scrapbook/Data/Datasources/ScrapBookLocalDataSource.swift
  Memoria/Features/Scrapbook/Data/Datasources/ScrapPageLocalDataSource.swift
  Memoria/Features/Scrapbook/Data/Models/ScrapBookCoreDataModel+CoreDataClass.swift
  Memoria/Features/Scrapbook/Data/Models/ScrapBookCoreDataModel+CoreDataProperties.swift
  Memoria/Features/Scrapbook/Data/Models/ScrapPageCoreDataModel+CoreDataClass.swift
  Memoria/Features/Scrapbook/Data/Models/ScrapPageCoreDataModel+CoreDataProperties.swift
  Memoria/Features/Scrapbook/Data/Repositories/ScrapBookRepositoryImpl.swift
  Memoria/Features/Scrapbook/Data/Repositories/ScrapPageRepositoryImpl.swift
  Memoria/Features/Scrapbook/Domain/Entities/CreateScrapPageForm.swift
  Memoria/Features/Scrapbook/Domain/Entities/EditScrapBookForm.swift
  Memoria/Features/Scrapbook/Domain/Entities/EditScrapPageForm.swift
  Memoria/Features/Scrapbook/Domain/Usecases/CreateScrapPage.swift
  Memoria/Features/Scrapbook/Domain/Usecases/DeleteScrapBook.swift
  Memoria/Features/Scrapbook/Domain/Usecases/EditScrapBook.swift
  Memoria/Features/Scrapbook/Domain/Usecases/GetScrapBook.swift
  Memoria/Features/Scrapbook/Domain/Usecases/GetScrapPage.swift
  Memoria/Shared/Data/Models/UserCoreDataModel+CoreDataClass.swift
  Memoria/Shared/Data/Models/UserCoreDataModel+CoreDataProperties.swift
Labels: core, shared, domain, data, feature, feature-destination, feature-scrapbook

feat: added UserCoreDataModel and the properties
  Memoria/Shared/Data/Models/UserCoreDataModel+CoreDataProperties.swift
Labels: shared

refactor: renamed Destination to DestinationCoreDataModel
  Memoria/Features/Destination/Data/Datasources/DestinationMigration.swift
Labels: data, feature, feature-destination

feat: added entity for EditScrapBookForm
  Memoria/Features/Scrapbook/Domain/Entities/EditScrapBookForm.swift
Labels: domain, feature, feature-scrapbook

feat: added entity for CreateScrapPageForm
  Memoria/Features/Scrapbook/Domain/Entities/CreateScrapPageForm.swift
Labels: domain, feature, feature-scrapbook

feat: added entity for CreateScrapBookForm
  Memoria/Features/Scrapbook/Domain/Entities/CreateScrapBookForm.swift
Labels: domain, feature, feature-scrapbook

feat: added entity for EditScrapPageForm
  Memoria/Features/Scrapbook/Domain/Entities/EditScrapPageForm.swift
Labels: domain, feature, feature-scrapbook

refactor: removed DestinationModel as it has been replaced by DestinationCoreDataModel
  Memoria/Features/Destination/Data/Models/DestinationCoreDataModel+CoreDataClass.swift
  Memoria/Features/Destination/Data/Models/DestinationCoreDataModel+CoreDataProperties.swift
  Memoria/Features/Destination/Data/Models/DestinationModel.swift
Labels: data, feature, feature-destination

refactor: removed DestinationModel as it has been replaced by DestinationCoreDataModel
  Memoria/Features/Splash/Presentation/Pages/SplashViewController.swift
Labels: presentation, feature, feature-splash

feat: added model for scrapbook and scrappage
  Memoria/Features/Scrapbook/Data/Models/ScrapBookCoreDataModel+CoreDataProperties.swift
  Memoria/Features/Scrapbook/Data/Models/ScrapPageCoreDataModel+CoreDataProperties.swift
Labels: data, feature, feature-scrapbook

feat: added ScrapBookLocalDataSource
  Memoria/Features/Scrapbook/Data/Datasources/ScrapBookLocalDataSource.swift
Labels: data, feature, feature-scrapbook

feat: added ScrapPageLocalDataSource
  Memoria/Features/Scrapbook/Data/Datasources/ScrapPageLocalDataSource.swift
Labels: data, feature, feature-scrapbook

feat: added other errors
  Memoria/Core/Domain/Failure/Failure.swift
Labels: core

feat: added repositories for scrapbook
  Memoria/Features/Scrapbook/Data/Repositories/ScrapBookRepositoryImpl.swift
  Memoria/Features/Scrapbook/Data/Repositories/ScrapPageRepositoryImpl.swift
Labels: data, feature, feature-scrapbook

feat: added repositories for scrapbook domain
  Memoria/Features/Scrapbook/Domain/Repositories/ScrapBookRepository.swift
  Memoria/Features/Scrapbook/Domain/Repositories/ScrapPageRepository.swift
Labels: domain, feature, feature-scrapbook

feat: added createScrapBook usecase
  Memoria/Features/Scrapbook/Domain/Usecases/CreateScrapBook.swift
Labels: domain, feature, feature-scrapbook

feat: added EditScrapBook usecase
  Memoria/Features/Scrapbook/Domain/Usecases/EditScrapBook.swift
Labels: domain, feature, feature-scrapbook

.github/labeler.yml:

ci/cd:
  - .github/workflows/*

core:
  - Memoria/Core/**

shared:
  - Memoria/Shared/**

resource:
  - Memoria/Resource/**

domain:
  - Memoria/Features/**/Domain/**

data:
  - Memoria/Features/**/Data/**

presentation:
  - Memoria/Features/**/Presentation/**

feature:
  - Memoria/Features/**

feature-home:
  - Memoria/Features/Home/**

feature-destination:
  - Memoria/Features/Destination/**

feature-splash:
  - Memoria/Features/Splash/**

feature-scrapbook:
  - Memoria/Features/Scrapbook/**

feature-image-generator:
  - Memoria/Features/ImageGenerator/**

test:
  - MemoriaTests/**
  - MemoriaUITests/**

documentation:
  - README.md
  - ./*.md
