Repository Copu-Clock-Out-Pulang/Memoria, changes with the labels that .github/labeler.yml gives for each.
All labels: ci/cd, core, shared, resource, domain, data, presentation, feature, feature-home, feature-destination, feature-splash, feature-scrapbook, feature-image-generator, test, documentation

fix: save button navigation
  Memoria/Features/Destination/Presentation/Components/TripDestinationUI.swift
Labels: presentation, feature, feature-destination

feat: added confirmation dialog
  Memoria/Features/Scrapbook/Presentation/Components/Buttons/ScrapPageEditButton.swift
  Memoria/Features/Scrapbook/Presentation/Components/ScrapBookCard.swift
Labels: presentation, feature, feature-scrapbook

feat: added edit scrap page name alert
  Memoria/Features/Scrapbook/Presentation/Components/Alert/EditScrapPageNameAlert.swift
Labels: presentation, feature, feature-scrapbook

fix: save button navigation (#30)
  Memoria/Features/Destination/Presentation/Components/TripDestinationUI.swift
Labels: presentation, feature, feature-destination

Destination Detail Sheet Bug Fix
  Memoria/Features/Destination/Presentation/Components/DestinationDetail.swift
  Memoria/Features/Destination/Presentation/Components/TripDestinationUI.swift
  Memoria/Features/Destination/Presentation/Components/TripFamilyPhotoViewUI.swift
Labels: presentation, feature, feature-destination

feat: Destination Detail Sheet Bug Fix (#31)
  Memoria/Features/Destination/Presentation/Components/DestinationDetail.swift
  Memoria/Features/Destination/Presentation/Components/TripDestinationUI.swift
  Memoria/Features/Destination/Presentation/Components/TripFamilyPhotoViewUI.swift
Labels: presentation, feature, feature-destination

fix: alert not triggered
  Memoria.xcodeproj/project.pbxproj
  Memoria/Features/Scrapbook/Presentation/Components/Alert/EditScrapPageNameAlert.swift
  Memoria/Features/Scrapbook/Presentation/Components/Buttons/ScrapPageShareButton.swift
  Memoria/Features/Scrapbook/Presentation/Components/ScrapBookCard.swift
Labels: presentation, feature, feature-scrapbook

refactor: added init
  Memoria/Features/Scrapbook/Presentation/Pages/ScrapBookDetailViewController.swift
Labels: presentation, feature, feature-scrapbook

fix: fix destination
  Memoria/Features/Destination/Presentation/Components/TripDestinationUI.swift
  Memoria/Features/Destination/Presentation/Components/TripFamilyPhotoViewUI.swift
  Memoria/Features/Destination/Presentation/Pages/TripDestinationViewController.swift
  Memoria/Features/Destination/Presentation/ViewModel/DestinationViewModel.swift
  Memoria/Features/Scrapbook/Data/Models/ScrapBookCoreDataModel+CoreDataProperties.swift
  Memoria/Features/Scrapbook/Presentation/Components/Buttons/ScrapPageCreateButton.swift
  Memoria/Features/Scrapbook/Presentation/Components/Buttons/ScrapPageEditButton.swift
  Memoria/Features/Scrapbook/Presentation/Components/Carousel/ScrapBookCarousel.swift
  Memoria/Features/Scrapbook/Presentation/Components/ScrapBookCard.swift
  Memoria/Features/Scrapbook/Presentation/Components/Sheet/EditScrapBookDetailSheet.swift
  Memoria/Features/Scrapbook/Presentation/Pages/ScrapBookDetailView.swift
  Memoria/Features/Scrapbook/Presentation/Pages/ScrapBookDetailViewController.swift
  Memoria/Features/Scrapbook/Presentation/ViewModel/ScrapBookViewModel.swift
  Memoria/Features/Scrapbook/Presentation/ViewModel/ScrapPageViewModel.swift
Labels: data, presentation, feature, feature-destination, feature-scrapbook

fix: merge conflict button navigation
  Memoria/Features/Destination/Presentation/Components/TripDestinationUI.swift
Labels: presentation, feature, feature-destination

fix: selector carousel
  Memoria/Features/Scrapbook/Presentation/Components/Buttons/ScrapBookDeleteButton.swift
  Memoria/Features/Scrapbook/Presentation/Components/Buttons/ScrapPageShareButton.swift
  Memoria/Features/Scrapbook/Presentation/Components/Carousel/ScrapBookCarousel.swift
  Memoria/Features/Scrapbook/Presentation/Components/ScrapBookCard.swift
  Memoria/Features/Scrapbook/Presentation/ViewModel/ScrapPageViewModel.swift
Labels: presentation, feature, feature-scrapbook

fix: refresh after delete
  Memoria/Features/Scrapbook/Presentation/Components/Buttons/ScrapBookDeleteButton.swift
Labels: presentation, feature, feature-scrapbook

fix: sharebutton
  Memoria/Features/Destination/Presentation/Components/TripDestinationUI.swift
  Memoria/Features/Destination/Presentation/Pages/TripDestinationViewController.swift
  Memoria/Features/Scrapbook Editor/Presentation/Pages/ScrapbookEditorViewController.swift
  Memoria/Features/Scrapbook/Presentation/Components/Buttons/ScrapPageShareButton.swift
  Memoria/Features/Scrapbook/Presentation/Pages/ScrapBookDetailViewController.swift
Labels: presentation, feature, feature-destination, feature-scrapbook

add homepage
  Memoria.xcodeproj/project.pbxproj
  Memoria/Features/Home/Presentation/Components/HomeViewUI.swift
  Memoria/Features/Home/Presentation/Pages/HomeViewController.swift
  Memoria/Features/Scrapbook/Presentation/ViewModel/ScrapBookViewModel.swift
  Memoria/Features/Splash/Presentation/Pages/SplashViewController.swift
  Memoria/Resources/Assets.xcassets/HomeBackground.imageset/Contents.json
  Memoria/Resources/Assets.xcassets/HomeBackground.imageset/HomePage-03.png
  Memoria/Resources/Assets.xcassets/HomeFrame.imageset/Contents.json
  Memoria/Resources/Assets.xcassets/HomeFrame.imageset/HomePage-13.png
Labels: presentation, feature, feature-home, feature-splash, feature-scrapbook

add view home
  Memoria/Features/Home/Presentation/Pages/HomeViewController.swift
  Memoria/Features/Scrapbook/Presentation/Pages/ScrapBookDetailViewController.swift
Labels: presentation, feature, feature-home, feature-scrapbook

fix: button hide to safe guard
  Memoria/Features/Scrapbook/Presentation/Components/Buttons/ScrapBookDeleteButton.swift
  Memoria/Features/Scrapbook/Presentation/Components/Buttons/ScrapPageShareButton.swift
  Memoria/Features/Scrapbook/Presentation/Components/Carousel/ScrapBookCarousel.swift
  Memoria/Features/Scrapbook/Presentation/Components/ScrapBookCard.swift
  Memoria/Features/Scrapbook/Presentation/Pages/ScrapBookDetailViewController.swift
  Memoria/Features/Scrapbook/Presentation/ViewModel/ScrapPageViewModel.swift
Labels: presentation, feature, feature-scrapbook

fix: button save destination safeguard
  Memoria/Features/Destination/Presentation/Pages/TripDestinationViewController.swift
Labels: presentation, feature, feature-destination

HomeViewUI Done
  Memoria/Features/Home/Presentation/Components/HomeViewUI.swift
  Memoria/Features/Home/Presentation/Pages/HomeViewController.swift
Labels: presentation, feature, feature-home

fix: Scrapbook cannot be navigated
  Memoria/Features/Home/Presentation/Components/HomeViewUI.swift
Labels: presentation, feature, feature-home

feat: destination (#32)
  Memoria.xcodeproj/project.pbxproj
  Memoria/Core/DI/InjectionContainer.swift
  Memoria/Features/Destination/Presentation/Components/TripFamilyPhotoViewUI.swift
  Memoria/Features/Destination/Presentation/Pages/TripDestinationViewController.swift
  Memoria/Features/Destination/Presentation/ViewModel/DestinationViewModel.swift
  Memoria/Features/Scrapbook Editor/Presentation/Pages/ScrapbookEditorViewController.swift
  Memoria/Features/Scrapbook/Data/Models/ScrapBookCoreDataModel+CoreDataProperties.swift
  Memoria/Features/Scrapbook/Presentation/Components/Alert/EditScrapPageNameAlert.swift
  Memoria/Features/Scrapbook/Presentation/Components/Buttons/ScrapBookDeleteButton.swift
  Memoria/Features/Scrapbook/Presentation/Components/Buttons/ScrapPageCreateButton.swift
  Memoria/Features/Scrapbook/Presentation/Components/Buttons/ScrapPageEditButton.swift
  Memoria/Features/Scrapbook/Presentation/Components/Buttons/ScrapPageShareButton.swift
  Memoria/Features/Scrapbook/Presentation/Components/Carousel/ScrapBookCarousel.swift
  Memoria/Features/Scrapbook/Presentation/Components/ScrapBookCard.swift
  Memoria/Features/Scrapbook/Presentation/Components/Sheet/EditScrapBookDetailSheet.swift
  Memoria/Features/Scrapbook/Presentation/Pages/ScrapBookDetailView.swift
  Memoria/Features/Scrapbook/Presentation/Pages/ScrapBookDetailViewController.swift
  Memoria/Features/Scrapbook/Presentation/ViewModel/ScrapBookViewModel.swift
  Memoria/Features/Scrapbook/Presentation/ViewModel/ScrapPageViewModel.swift
Labels: core, data, presentation, feature, feature-destination, feature-scrapbook

feat: scrapbook home (#33)
  Memoria.xcodeproj/project.pbxproj
  Memoria/Features/Destination/Presentation/Components/TripDestinationUI.swift
  Memoria/Features/Home/Presentation/Components/HomeViewUI.swift
  Memoria/Features/Home/Presentation/Pages/HomeViewController.swift
  Memoria/Features/Scrapbook/Presentation/Components/ScrapBookCard.swift
  Memoria/Features/Splash/Presentation/Pages/SplashViewController.swift
  Memoria/Resources/Assets.xcassets/HomeBackground.imageset/Contents.json
  Memoria/Resources/Assets.xcassets/HomeBackground.imageset/HomePage-03.png
  Memoria/Resources/Assets.xcassets/HomeFrame.imageset/Contents.json
  Memoria/Resources/Assets.xcassets/HomeFrame.imageset/HomePage-13.png
Labels: presentation, feature, feature-home, feature-destination, feature-splash, feature-scrapbook

feat: final destination
  Memoria/Features/Home/Presentation/Components/HomeViewUI.swift
  Memoria/Features/Home/Presentation/Pages/HomeViewController.swift
  Memoria/Resources/XCAssets+Generated.swift
Labels: presentation, feature, feature-home

docs: create License
  LICENSE
Labels: none

chore: change to https
  Memoria.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
Labels: none

.github/labeler.yml:

ci/cd:
  - .github/workflows/*

core:
  - Memoria/Core/**

shared:
  - Memoria/Shared/**

resource:
  - Memoria/Resource/**

domain:
  - Memoria/Features/**/Domain/**

data:
  - Memoria/Features/**/Data/**

presentation:
  - Memoria/Features/**/Presentation/**

feature:
  - Memoria/Features/**

feature-home:
  - Memoria/Features/Home/**

feature-destination:
  - Memoria/Features/Destination/**

feature-splash:
  - Memoria/Features/Splash/**

feature-scrapbook:
  - Memoria/Features/Scrapbook/**

feature-image-generator:
  - Memoria/Features/ImageGenerator/**

test:
  - MemoriaTests/**
  - MemoriaUITests/**

documentation:
  - README.md
  - ./*.md
