Repository Copu-Clock-Out-Pulang/Memoria, changes with the labels that .github/labeler.yml gives for each.
All labels: ci/cd, core, shared, resource, domain, data, presentation, feature, feature-home, feature-destination, feature-splash, feature-scrapbook, feature-image-generator, test, documentation

feat: image segmentation mask
  .swiftlint.yml
  Memoria.xcodeproj/project.pbxproj
  Memoria/Applications/SceneDelegate.swift
  Memoria/Core/DI/InjectionContainer.swift
  Memoria/Core/Domain/Failure/Failure.swift
  Memoria/Core/Extensions/UIImage+CustomExtensions.swift
  Memoria/External/CoreMLHelpers/Array+Extensions.swift
  Memoria/External/CoreMLHelpers/CGImage+CVPixelBuffer.swift
  Memoria/External/CoreMLHelpers/CGImage+RawBytes.swift
  Memoria/External/CoreMLHelpers/CGImagePropertyOrientation.swift
  Memoria/External/CoreMLHelpers/CVPixelBuffer+Create.swift
  Memoria/External/CoreMLHelpers/CVPixelBuffer+Resize.swift
  Memoria/External/CoreMLHelpers/CVPixelBuffer+Rotate.swift
  Memoria/External/CoreMLHelpers/CoreML+Combine.swift
  Memoria/External/CoreMLHelpers/MLModel+Images.swift
  Memoria/External/CoreMLHelpers/MLMultiArray+Helpers.swift
  Memoria/External/CoreMLHelpers/MLMultiArray+Image.swift
  Memoria/External/CoreMLHelpers/Math.swift
  Memoria/External/CoreMLHelpers/NonMaxSuppression.swift
  Memoria/External/CoreMLHelpers/Predictions.swift
  Memoria/External/CoreMLHelpers/UIImage+CVPixelBuffer.swift
  Memoria/External/CoreMLHelpers/UIImage+Extensions.swift
  Memoria/External/CoreMLHelpers/UIImage+RawBytes.swift
  Memoria/Features/Home/Presentation/Pages/HomeViewController.swift
  Memoria/Features/ImageGenerator/Domain/ImageSegmentor.swift
  Memoria/Features/Splash/Presentation/Pages/SplashViewController.swift
  Memoria/Resources/Assets.xcassets/image_test.imageset/Contents.json
  Memoria/Resources/Assets.xcassets/image_test.imageset/image_test.jpg
  Memoria/Resources/XCAssets+Generated.swift
  MemoriaTests/Features/ImageGenerator/Domain/ImageSegmentorTests.swift
  README.md
Labels: core, domain, presentation, feature, feature-home, feature-splash, feature-image-generator, test, documentation

chore: fix indentation in test
  Memoria.xcodeproj/project.pbxproj
  Memoria/Features/ImageGenerator/Domain/DreamImageGenerator.swift
  MemoriaTests/Features/ImageGenerator/Domain/ImageSegmentorTests.swift
Labels: domain, feature, feature-image-generator, test

chore: bersih-bersih workspace
  Memoria.xcodeproj/project.pbxproj
  Memoria/Features/ImageGenerator/Domain/DreamImageGenerator.swift
  MemoriaTests/Features/ImageGenerator/Domain/ImageSegmentorTests.swift
Labels: domain, feature, feature-image-generator, test

chore: change package to https instead of git ssh
  Memoria.xcodeproj/project.pbxproj
  Memoria.xcodeproj/xcuserdata/adryanev.xcuserdatad/xcschemes/xcschememanagement.plist
  Memoria/Core/Domain/Failure/Failure.swift
  Memoria/Core/Domain/Usecases/UseCase.swift
  Memoria/Core/Extensions/UIImage+CustomExtensions.swift
Labels: core

fix: linter error
  .swiftlint.yml
  Memoria/Core/Domain/Usecases/UseCase.swift
Labels: core

chore: change package to https instead of git ssh (#5)
  .swiftlint.yml
  Memoria.xcodeproj/project.pbxproj
  Memoria.xcodeproj/xcuserdata/adryanev.xcuserdatad/xcschemes/xcschememanagement.plist
  Memoria/Core/Domain/Failure/Failure.swift
  Memoria/Core/Domain/Usecases/UseCase.swift
  Memoria/Core/Extensions/UIImage+CustomExtensions.swift
Labels: core

chore: add new ignored file
  .gitignore
  Memoria.xcodeproj/project.pbxproj
  Memoria.xcodeproj/project.xcworkspace/contents.xcworkspacedata
  Memoria.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
  Memoria.xcodeproj/xcuserdata/adryanev.xcuserdatad/xcschemes/xcschememanagement.plist
Labels: none

chore: add ignore for obj-c files
  .gitignore
Labels: none

chore: add new ignored file (#6)
  .gitignore
  Memoria.xcodeproj/project.pbxproj
  Memoria.xcodeproj/project.xcworkspace/contents.xcworkspacedata
  Memoria.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
  Memoria.xcodeproj/xcuserdata/adryanev.xcuserdatad/xcschemes/xcschememanagement.plist
Labels: none

chore: change package to https instead of git ssh (#5)
  Memoria.xcodeproj/project.pbxproj
  Memoria.xcodeproj/xcuserdata/adryanev.xcuserdatad/xcschemes/xcschememanagement.plist
  Memoria/Core/Domain/Failure/Failure.swift
  Memoria/Core/Domain/Usecases/UseCase.swift
Labels: core

chore: add new ignored file (#6)
  .gitignore
  Memoria.xcodeproj/project.pbxproj
  Memoria.xcodeproj/project.xcworkspace/contents.xcworkspacedata
  Memoria.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
  Memoria.xcodeproj/xcuserdata/adryanev.xcuserdatad/xcschemes/xcschememanagement.plist
Labels: none

chore: fix indentation in test
  Memoria/Features/ImageGenerator/Domain/DreamImageGenerator.swift
  MemoriaTests/Features/ImageGenerator/Domain/ImageSegmentorTests.swift
Labels: domain, feature, feature-image-generator, test

chore: resolve conflict
  MemoriaTests/Features/ImageGenerator/Domain/ImageSegmentorTests.swift
Labels: test

chore: bersih-bersih workspace
  Memoria/Features/ImageGenerator/Domain/DreamImageGenerator.swift
  MemoriaTests/Features/ImageGenerator/Domain/ImageSegmentorTests.swift
Labels: domain, feature, feature-image-generator, test

chore: add ignore and rollback
  .gitignore
  Memoria.xcodeproj/project.pbxproj
  Memoria.xcodeproj/project.xcworkspace/contents.xcworkspacedata
  Memoria.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
  Memoria.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
  Memoria.xcodeproj/xcshareddata/IDEWorkspaceChecks.plist
Labels: none

chore: add ignore and rollback (#7)
  .gitignore
  Memoria.xcodeproj/project.pbxproj
  Memoria.xcodeproj/project.xcworkspace/contents.xcworkspacedata
  Memoria.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
  Memoria.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
  Memoria.xcodeproj/xcshareddata/IDEWorkspaceChecks.plist
Labels: none

chore: add new ignored file (#6)
  Memoria.xcodeproj/project.pbxproj
  Memoria.xcodeproj/xcuserdata/adryanev.xcuserdatad/xcschemes/xcschememanagement.plist
Labels: none

chore: add ignore and rollback (#7)
  .gitignore
  Memoria.xcodeproj/project.pbxproj
  Memoria.xcodeproj/project.xcworkspace/contents.xcworkspacedata
  Memoria.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
  Memoria.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
  Memoria.xcodeproj/xcshareddata/IDEWorkspaceChecks.plist
Labels: none

chore: change package to https instead of git ssh (#5)
  Memoria.xcodeproj/project.pbxproj
  Memoria.xcodeproj/xcuserdata/adryanev.xcuserdatad/xcschemes/xcschememanagement.plist
Labels: none

feat: image segmentation mask
  Memoria.xcodeproj/project.pbxproj
Labels: none

chore: change package to https instead of git ssh (#5)
  Memoria.xcodeproj/project.pbxproj
  Memoria.xcodeproj/xcuserdata/adryanev.xcuserdatad/xcschemes/xcschememanagement.plist
Labels: none

chore: add new ignored file (#6)
  Memoria.xcodeproj/project.xcworkspace/contents.xcworkspacedata
  Memoria.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
  Memoria.xcodeproj/xcuserdata/adryanev.xcuserdatad/xcschemes/xcschememanagement.plist
Labels: none

chore: fix project structure
  Memoria.xcodeproj/project.pbxproj
  Memoria.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
Labels: none

chore: add resolved
  Memoria.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
Labels: none

chore: add deeplab
  Memoria.xcodeproj/project.pbxproj
Labels: none

chore: remove .gitkeep
  Memoria.xcodeproj/project.pbxproj
Labels: none

fix: signing and capabilities
  Memoria.xcodeproj/project.pbxproj
Labels: none

feat: added extension for mapping data into the model
  Memoria.xcodeproj/project.pbxproj
  Memoria/Features/Destination/Data/Datasources/DestinationMigration.swift
  Memoria/Features/Destination/Data/Datasources/PersistenceController.swift
  Memoria/Features/Destination/Data/Models/DestinationModel.swift
  Memoria/Features/Destination/Presentation/ViewModel/DestinationViewModel.swift
  Memoria/Features/Splash/Presentation/Pages/SplashViewController.swift
  Memoria/Resources/Destinations.xcdatamodeld/Destinations.xcdatamodel/contents
Labels: data, presentation, feature, feature-destination, feature-splash

feat: added extension for mapping data into the model
  Memoria/Features/Destination/Data/Models/DestinationModel.swift
Labels: data, feature, feature-destination

feat: done image generator and unit test
  .swiftlint.yml
  Memoria.xcodeproj/project.pbxproj
  Memoria.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
  Memoria/Core/Extensions/CIImage+CustomExtension.swift
  Memoria/Core/Extensions/UIImage+CustomExtensions.swift
  Memoria/Features/ImageGenerator/Domain/DestinationImageGenerator.swift
  Memoria/Features/ImageGenerator/Domain/ImageSegmentor.swift
  Memoria/Resources/Assets.xcassets/mask.imageset/Contents.json
  Memoria/Resources/Assets.xcassets/mask.imageset/mask.png
  Memoria/Resources/Assets.xcassets/output_test.imageset/Contents.json
  Memoria/Resources/XCAssets+Generated.swift
  MemoriaTests/Features/ImageGenerator/Domain/DestinationImageGeneratorTest.swift
  MemoriaTests/Features/ImageGenerator/Domain/ImageSegmentorTests.swift
  MemoriaTests/GeneratedMocks.swift
  run
Labels: core, domain, feature, feature-image-generator, test

feat: image generator feature (#9)
  .swiftlint.yml
  Memoria.xcodeproj/project.pbxproj
  Memoria.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
  Memoria/Core/Extensions/CIImage+CustomExtension.swift
  Memoria/Core/Extensions/UIImage+CustomExtensions.swift
  Memoria/Features/ImageGenerator/Domain/DestinationImageGenerator.swift
  Memoria/Features/ImageGenerator/Domain/ImageSegmentor.swift
  Memoria/Resources/Assets.xcassets/mask.imageset/Contents.json
  Memoria/Resources/Assets.xcassets/mask.imageset/mask.png
  Memoria/Resources/Assets.xcassets/output_test.imageset/Contents.json
  Memoria/Resources/XCAssets+Generated.swift
  MemoriaTests/Features/ImageGenerator/Domain/DestinationImageGeneratorTest.swift
  MemoriaTests/Features/ImageGenerator/Domain/ImageSegmentorTests.swift
  MemoriaTests/GeneratedMocks.swift
  run
Labels: core, domain, feature, feature-image-generator, test

chore: remove print statement
  Memoria/Features/ImageGenerator/Domain/DestinationImageGenerator.swift
Labels: domain, feature, feature-image-generator

feat: image generator feature (#10)
  .swiftlint.yml
  Memoria.xcodeproj/project.pbxproj
  Memoria.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
  Memoria/Core/Extensions/CIImage+CustomExtension.swift
  Memoria/Core/Extensions/UIImage+CustomExtensions.swift
  Memoria/Features/ImageGenerator/Domain/DestinationImageGenerator.swift
  Memoria/Features/ImageGenerator/Domain/ImageSegmentor.swift
  Memoria/Resources/Assets.xcassets/mask.imageset/Contents.json
  Memoria/Resources/Assets.xcassets/mask.imageset/mask.png
  Memoria/Resources/Assets.xcassets/output_test.imageset/Contents.json
  Memoria/Resources/XCAssets+Generated.swift
  MemoriaTests/Features/ImageGenerator/Domain/DestinationImageGeneratorTest.swift
  MemoriaTests/Features/ImageGenerator/Domain/ImageSegmentorTests.swift
  MemoriaTests/GeneratedMocks.swift
  run
Labels: core, domain, feature, feature-image-generator, test

feat: add domain enitites
  Memoria/Features/Destination/Domain/Entities/Area.swift
  Memoria/Features/Destination/Domain/Entities/Recommendation.swift
  Memoria/Shared/Domain/Entities/Coordinate.swift
  Memoria/Shared/Domain/Entities/Destination.swift
  Memoria/Shared/Domain/Entities/ScrapBook.swift
  Memoria/Shared/Domain/Entities/ScrapPage.swift
  Memoria/Shared/Domain/Entities/User.swift
Labels: shared, domain, feature, feature-destination

feat: add domain enitites and extension
  Memoria.xcodeproj/project.pbxproj
  Memoria/Features/Destination/Domain/Entities/Area.swift
  Memoria/Features/Destination/Domain/Entities/Recommendation.swift
  Memoria/Shared/Domain/Entities/Destination.swift
  Memoria/Shared/Domain/Entities/ScrapBook.swift
  Memoria/Shared/Domain/Entities/ScrapPage.swift
  Memoria/Shared/Domain/Entities/User.swift
Labels: shared, domain, feature, feature-destination

feat: add domain enitites (#11)
  Memoria.xcodeproj/project.pbxproj
  Memoria/Features/Destination/Domain/Entities/Area.swift
  Memoria/Features/Destination/Domain/Entities/Recommendation.swift
  Memoria/Shared/Domain/Entities/Coordinate.swift
  Memoria/Shared/Domain/Entities/Destination.swift
  Memoria/Shared/Domain/Entities/ScrapBook.swift
  Memoria/Shared/Domain/Entities/ScrapPage.swift
  Memoria/Shared/Domain/Entities/User.swift
Labels: shared, domain, feature, feature-destination

refactor: renamed coredata file from Destinations to MemoriaCoreData
  Memoria/Resources/MemoriaCoreData.xcdatamodeld/Destinations.xcdatamodel/contents
Labels: none

refactor: renamed Destination to DestinationCoreDataModel
  Memoria/Features/Destination/Data/Datasources/DestinationMigration.swift
Labels: data, feature, feature-destination

fix: added persistentStoreCoordinator to resolve Entity problem
  Memoria/Features/Destination/Data/Datasources/PersistenceController.swift
Labels: data, feature, feature-destination

chore: refactor code according to the lint
  Memoria/Features/Destination/Data/Models/DestinationModel.swift
Labels: data, feature, feature-destination

.github/labeler.yml:

ci/cd:
  - .github/workflows/*

core:
  - Memoria/Core/**

shared:
  - Memoria/Shared/**

resource:
  - Memoria/Resource/**

domain:
  - Memoria/Features/**/Domain/**

data:
  - Memoria/Features/**/Data/**

presentation:
  - Memoria/Features/**/Presentation/**

feature:
  - Memoria/Features/**

feature-home:
  - Memoria/Features/Home/**

feature-destination:
  - Memoria/Features/Destination/**

feature-splash:
  - Memoria/Features/Splash/**

feature-scrapbook:
  - Memoria/Features/Scrapbook/**

feature-image-generator:
  - Memoria/Features/ImageGenerator/**

test:
  - MemoriaTests/**
  - MemoriaUITests/**

documentation:
  - README.md
  - ./*.md
