Repository Copu-Clock-Out-Pulang/Memoria, changes with the labels that .github/labeler.yml gives for each.
All labels: ci/cd, core, shared, resource, domain, data, presentation, feature, feature-home, feature-destination, feature-splash, feature-scrapbook, feature-image-generator, test, documentation

feat: added GetScrapBook usecase
  Memoria/Features/Scrapbook/Domain/Usecases/GetScrapBook.swift
Labels: domain, feature, feature-scrapbook

feat: added DeleteScrapBook usecase
  Memoria/Features/Scrapbook/Domain/Usecases/DeleteScrapBook.swift
Labels: domain, feature, feature-scrapbook

feat: added CreateScrapPage usecase
  Memoria/Features/Scrapbook/Domain/Usecases/CreateScrapPage.swift
Labels: domain, feature, feature-scrapbook

feat: added EditScrapPage usecase
  Memoria/Features/Scrapbook/Domain/Usecases/EditScrapPage.swift
Labels: domain, feature, feature-scrapbook

feat: added GetScrapPage usecase
  Memoria/Features/Scrapbook/Domain/Usecases/GetScrapPage.swift
Labels: domain, feature, feature-scrapbook

feat: added scrapbook destination
  Memoria.xcodeproj/project.pbxproj
  Memoria/Resources/MemoriaCoreData.xcdatamodeld/Destinations.xcdatamodel/contents
Labels: none

chore: remove conflicted files
  Memoria.xcodeproj/project.pbxproj
Labels: none

feat: Scrapbook Data & Domain (#17)
  Memoria.xcodeproj/project.pbxproj
  Memoria/Core/Domain/Failure/Failure.swift
  Memoria/Core/Storages/PersistenceController.swift
  Memoria/Features/Destination/Data/Datasources/DestinationMigration.swift
  Memoria/Features/Destination/Data/Models/DestinationCoreDataModel+CoreDataProperties.swift
  Memoria/Features/Destination/Data/Models/DestinationModel.swift
  Memoria/Features/Scrapbook/Data/Datasources/ScrapBookLocalDataSource.swift
  Memoria/Features/Scrapbook/Data/Datasources/ScrapPageLocalDataSource.swift
  Memoria/Features/Scrapbook/Data/Models/ScrapBookCoreDataModel+CoreDataClass.swift
  Memoria/Features/Scrapbook/Data/Models/ScrapBookCoreDataModel+CoreDataProperties.swift
  Memoria/Features/Scrapbook/Data/Models/ScrapPageCoreDataModel+CoreDataClass.swift
  Memoria/Features/Scrapbook/Data/Models/ScrapPageCoreDataModel+CoreDataProperties.swift
  Memoria/Features/Scrapbook/Data/Repositories/ScrapBookRepositoryImpl.swift
  Memoria/Features/Scrapbook/Data/Repositories/ScrapPageRepositoryImpl.swift
  Memoria/Features/Scrapbook/Domain/Entities/CreateScrapBookForm.swift
  Memoria/Features/Scrapbook/Domain/Entities/CreateScrapPageForm.swift
  Memoria/Features/Scrapbook/Domain/Entities/EditScrapBookForm.swift
  Memoria/Features/Scrapbook/Domain/Entities/EditScrapPageForm.swift
  Memoria/Features/Scrapbook/Domain/Repositories/ScrapBookRepository.swift
  Memoria/Features/Scrapbook/Domain/Repositories/ScrapPageRepository.swift
  Memoria/Features/Scrapbook/Domain/Usecases/AddScrapPage.swift
  Memoria/Features/Scrapbook/Domain/Usecases/CreateScrapBook.swift
  Memoria/Features/Scrapbook/Domain/Usecases/CreateScrapPage.swift
  Memoria/Features/Scrapbook/Domain/Usecases/DeleteScrapBook.swift
  Memoria/Features/Scrapbook/Domain/Usecases/EditScrapBook.swift
  Memoria/Features/Scrapbook/Domain/Usecases/EditScrapPage.swift
  Memoria/Features/Scrapbook/Domain/Usecases/GetScrapBook.swift
  Memoria/Features/Scrapbook/Domain/Usecases/GetScrapPage.swift
  Memoria/Features/Splash/Presentation/Pages/SplashViewController.swift
  Memoria/Shared/Data/Models/UserCoreDataModel+CoreDataClass.swift
  Memoria/Shared/Data/Models/UserCoreDataModel+CoreDataProperties.swift
Labels: core, shared, domain, data, presentation, feature, feature-destination, feature-splash, feature-scrapbook

fix: add missing coredata model
  Memoria/Resources/MemoriaCoreData.xcdatamodeld/Memoria.xcdatamodel/contents
Labels: none

Drawing Done, Undo Redo Done, Clear Drawing Done, Insert Image Done, Edit Image Done, Save and Load from String for Core Data Done, Export Canvas Done
  Memoria.xcodeproj/project.pbxproj
  Memoria/Applications/SceneDelegate.swift
  Memoria/Core/DI/InjectionContainer.swift
  Memoria/Features/Scrapbook Editor/Domain/Entities/ImageDatas.swift
  Memoria/Features/Scrapbook Editor/Domain/Entities/ScrapPageStackData.swift
  Memoria/Features/Scrapbook Editor/Presentation/Pages/ScrapbookEditorViewController.swift
Labels: core, domain, presentation, feature

Making UI According to Prototype
  Memoria.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
  Memoria/Features/Destination/Presentation/Components/TripNameFromView.swift
  Memoria/Features/Scrapbook Editor/Domain/Entities/ImageDatas.swift
  Memoria/Features/Scrapbook Editor/Presentation/Pages/ScrapbookEditorViewController.swift
  Memoria/Resources/Assets.xcassets/IconBackground.imageset/Background.png
  Memoria/Resources/Assets.xcassets/IconBackground.imageset/Contents.json
  Memoria/Resources/Assets.xcassets/IconPhoto.imageset/Contents.json
  Memoria/Resources/Assets.xcassets/IconPhoto.imageset/Photo.png
  Memoria/Resources/Assets.xcassets/IconScribble.imageset/Contents.json
  Memoria/Resources/Assets.xcassets/IconScribble.imageset/Scribble.png
  Memoria/Resources/Assets.xcassets/IconShape.imageset/Contents.json
  Memoria/Resources/Assets.xcassets/IconShape.imageset/Shape.png
  Memoria/Resources/Assets.xcassets/IconSticker.imageset/Contents.json
  Memoria/Resources/Assets.xcassets/IconSticker.imageset/Sticker.png
  Memoria/Resources/Assets.xcassets/PrimaryButton.colorset/Contents.json
  Memoria/Resources/Assets.xcassets/ScrapPageEditorBackground.imageset/Contents.json
  Memoria/Resources/Assets.xcassets/ScrapPageEditorBackground.imageset/ScrapPageEditorBackground.png
  Memoria/Resources/XCAssets+Generated.swift
Labels: domain, presentation, feature, feature-destination

Change Canvas Background
  Memoria/Features/Scrapbook Editor/Presentation/Pages/ScrapbookEditorViewController.swift
Labels: presentation, feature

Save Canvas Background Done
  Memoria/Features/Scrapbook Editor/Domain/Entities/ScrapPageStackData.swift
  Memoria/Features/Scrapbook Editor/Presentation/Pages/ScrapbookEditorViewController.swift
Labels: domain, presentation, feature

feat: added button components
  Memoria/Features/Scrapbook/Presentation/Components/Background/ScrapBookDetailBackground.swift
  Memoria/Features/Scrapbook/Presentation/Components/Buttons/ScrapBookDeleteButton.swift
  Memoria/Features/Scrapbook/Presentation/Components/Buttons/ScrapBookEditButton.swift
  Memoria/Features/Scrapbook/Presentation/Components/Buttons/ScrapPageCreateButton.swift
  Memoria/Features/Scrapbook/Presentation/Components/Buttons/ScrapPageEditButton.swift
  Memoria/Features/Scrapbook/Presentation/Components/Buttons/ScrapPageShareButton.swift
  Memoria/Features/Scrapbook/Presentation/Components/Carousel/ScrapBookCarousel.swift
  Memoria/Features/Scrapbook/Presentation/Components/Carousel/ScrapBookCarouselCard.swift
  Memoria/Features/Scrapbook/Presentation/Components/ScrapBookCard.swift
  Memoria/Features/Scrapbook/Presentation/Pages/ScrapBookDetailView.swift
  Memoria/Features/Scrapbook/Presentation/Pages/ScrapBookDetailViewController.swift
  Memoria/Features/Scrapbook/Presentation/ViewModel/ScrapBookViewModel.swift
  Memoria/Resources/Assets.xcassets/AddScrapPageButtonIcon.imageset/AddScrapPageButtonIcon.png
  Memoria/Resources/Assets.xcassets/AddScrapPageButtonIcon.imageset/Contents.json
  Memoria/Resources/Assets.xcassets/DeleteButtonIcon.imageset/Contents.json
  Memoria/Resources/Assets.xcassets/DeleteButtonIcon.imageset/DeleteButtonIcon.png
  Memoria/Resources/Assets.xcassets/EditButtonIcon.imageset/Contents.json
  Memoria/Resources/Assets.xcassets/EditButtonIcon.imageset/EditButtonIcon.png
  Memoria/Resources/Assets.xcassets/EditScrapPageButtonIcon.imageset/Contents.json
  Memoria/Resources/Assets.xcassets/EditScrapPageButtonIcon.imageset/EditScrapPageButtonIcon.png
  Memoria/Resources/Assets.xcassets/ScrapBookDetailBackgroundDecal.imageset/Contents.json
  Memoria/Resources/Assets.xcassets/ScrapBookDetailBackgroundDecal.imageset/ScrapBookDetailBackgroundDecal.png
  Memoria/Resources/Assets.xcassets/ScrapPageCard.imageset/Contents.json
  Memoria/Resources/Assets.xcassets/ScrapPageCard.imageset/ScrapPageCard.png
  Memoria/Resources/Assets.xcassets/ScrapPageFilter.imageset/Contents.json
  Memoria/Resources/Assets.xcassets/ScrapPageFilter.imageset/ScrapPageFilter.png
  Memoria/Resources/Assets.xcassets/ScrapPageThumbnailDummy.imageset/Contents.json
  Memoria/Resources/Assets.xcassets/ScrapPageThumbnailDummy.imageset/ScrapPageThumbnailDummy.png
  Memoria/Resources/Assets.xcassets/ShareButtonIcon.imageset/Contents.json
  Memoria/Resources/Assets.xcassets/ShareButtonIcon.imageset/ShareButtonIcon.png
  Memoria/Resources/Assets.xcassets/backgroundScrapBookDetail.imageset/Contents.json
  Memoria/Resources/Assets.xcassets/backgroundScrapBookDetail.imageset/backgroundScrapBookDetail.png
Labels: presentation, feature, feature-scrapbook

feat: scrapbook detail view
  Memoria.xcodeproj/project.pbxproj
Labels: none

feat: added scrapbook detail assets
  Memoria/Resources/XCAssets+Generated.swift
Labels: none

feat: added pages for scrapbook detail
  Memoria/Features/Scrapbook/Presentation/Pages/ScrapBookDetailView.swift
  Memoria/Features/Scrapbook/Presentation/Pages/ScrapBookDetailViewController.swift
Labels: presentation, feature, feature-scrapbook

feat: added template file for scrapbook view model
  Memoria/Features/Scrapbook/Presentation/ViewModel/ScrapBookViewModel.swift
Labels: presentation, feature, feature-scrapbook

feat: added carousel component
  Memoria/Features/Scrapbook/Presentation/Components/Carousel/ScrapBookCarousel.swift
  Memoria/Features/Scrapbook/Presentation/Components/Carousel/ScrapBookCarouselCard.swift
Labels: presentation, feature, feature-scrapbook

feat: added scrapbook card
  Memoria/Features/Scrapbook/Presentation/Components/ScrapBookCard.swift
Labels: presentation, feature, feature-scrapbook

chore: used swiftlint
  Memoria.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
  Memoria/Applications/SceneDelegate.swift
  Memoria/Core/DI/InjectionContainer.swift
  Memoria/Core/Extensions/NSSet+CustomExtensions.swift
  Memoria/Features/Destination/Data/Datasources/DestinationLocalDataSource.swift
  Memoria/Features/Destination/Data/Models/AreaCoreDataModel+CoreDataProperties.swift
  Memoria/Features/Destination/Data/Repositories/DestinationRepositoryImpl.swift
  Memoria/Features/Destination/Presentation/Components/TripNameFromView.swift
  Memoria/Features/Destination/Presentation/Pages/DestinationViewController.swift
  Memoria/Features/Destination/Presentation/ViewModel/DestinationViewModel.swift
Labels: core, data, presentation, feature, feature-destination

feat: ScrapBook Detail UI (#19)
  Memoria.xcodeproj/project.pbxproj
  Memoria/Applications/SceneDelegate.swift
  Memoria/Core/DI/InjectionContainer.swift
  Memoria/Core/Extensions/NSSet+CustomExtensions.swift
  Memoria/Features/Destination/Data/Datasources/DestinationLocalDataSource.swift
  Memoria/Features/Destination/Data/Models/AreaCoreDataModel+CoreDataProperties.swift
  Memoria/Features/Destination/Data/Repositories/DestinationRepositoryImpl.swift
  Memoria/Features/Scrapbook/Presentation/Components/Background/ScrapBookDetailBackground.swift
  Memoria/Features/Scrapbook/Presentation/Components/Buttons/ScrapBookDeleteButton.swift
  Memoria/Features/Scrapbook/Presentation/Components/Buttons/ScrapBookEditButton.swift
  Memoria/Features/Scrapbook/Presentation/Components/Buttons/ScrapPageCreateButton.swift
  Memoria/Features/Scrapbook/Presentation/Components/Buttons/ScrapPageEditButton.swift
  Memoria/Features/Scrapbook/Presentation/Components/Buttons/ScrapPageShareButton.swift
  Memoria/Features/Scrapbook/Presentation/Components/Carousel/ScrapBookCarousel.swift
  Memoria/Features/Scrapbook/Presentation/Components/Carousel/ScrapBookCarouselCard.swift
  Memoria/Features/Scrapbook/Presentation/Components/ScrapBookCard.swift
  Memoria/Features/Scrapbook/Presentation/Pages/ScrapBookDetailView.swift
  Memoria/Features/Scrapbook/Presentation/Pages/ScrapBookDetailViewController.swift
  Memoria/Features/Scrapbook/Presentation/ViewModel/ScrapBookViewModel.swift
  Memoria/Resources/Assets.xcassets/AddScrapPageButtonIcon.imageset/AddScrapPageButtonIcon.png
  Memoria/Resources/Assets.xcassets/AddScrapPageButtonIcon.imageset/Contents.json
  Memoria/Resources/Assets.xcassets/DeleteButtonIcon.imageset/Contents.json
  Memoria/Resources/Assets.xcassets/DeleteButtonIcon.imageset/DeleteButtonIcon.png
  Memoria/Resources/Assets.xcassets/EditButtonIcon.imageset/Contents.json
  Memoria/Resources/Assets.xcassets/EditButtonIcon.imageset/EditButtonIcon.png
  Memoria/Resources/Assets.xcassets/EditScrapPageButtonIcon.imageset/Contents.json
  Memoria/Resources/Assets.xcassets/EditScrapPageButtonIcon.imageset/EditScrapPageButtonIcon.png
  Memoria/Resources/Assets.xcassets/ScrapBookDetailBackgroundDecal.imageset/Contents.json
  Memoria/Resources/Assets.xcassets/ScrapBookDetailBackgroundDecal.imageset/ScrapBookDetailBackgroundDecal.png
  Memoria/Resources/Assets.xcassets/ScrapPageCard.imageset/Contents.json
  Memoria/Resources/Assets.xcassets/ScrapPageCard.imageset/ScrapPageCard.png
  Memoria/Resources/Assets.xcassets/ScrapPageFilter.imageset/Contents.json
  Memoria/Resources/Assets.xcassets/ScrapPageFilter.imageset/ScrapPageFilter.png
  Memoria/Resources/Assets.xcassets/ScrapPageThumbnailDummy.imageset/Contents.json
  Memoria/Resources/Assets.xcassets/ScrapPageThumbnailDummy.imageset/ScrapPageThumbnailDummy.png
  Memoria/Resources/Assets.xcassets/ShareButtonIcon.imageset/Contents.json
  Memoria/Resources/Assets.xcassets/ShareButtonIcon.imageset/ShareButtonIcon.png
  Memoria/Resources/Assets.xcassets/backgroundScrapBookDetail.imageset/Contents.json
  Memoria/Resources/Assets.xcassets/backgroundScrapBookDetail.imageset/backgroundScrapBookDetail.png
  Memoria/Resources/XCAssets+Generated.swift
Labels: core, data, presentation, feature, feature-destination, feature-scrapbook

refactor: make the encode decode process directly to the struct
  Memoria/Features/Scrapbook Editor/Domain/Entities/Content.swift
Labels: domain, feature

feat: added scrapbook and scrappage view model, repository, and usecases
  Memoria/Core/DI/InjectionContainer.swift
  Memoria/Features/Scrapbook Editor/Presentation/Pages/ScrapbookDetailViewController.swift
  Memoria/Features/Scrapbook/Presentation/ViewModel/ScrapBookViewModel.swift
  Memoria/Features/Scrapbook/Presentation/ViewModel/ScrapPageViewModel.swift
Labels: core, presentation, feature, feature-scrapbook

feat: added scrapbook and scrappage view model
  Memoria/Features/Scrapbook/Presentation/ViewModel/ScrapBookViewModel.swift
  Memoria/Features/Scrapbook/Presentation/ViewModel/ScrapPageViewModel.swift
Labels: presentation, feature, feature-scrapbook

refactor: added environment object
  Memoria/Features/Scrapbook/Presentation/Components/Buttons/ScrapBookEditButton.swift
  Memoria/Features/Scrapbook/Presentation/Components/Buttons/ScrapPageEditButton.swift
Labels: presentation, feature, feature-scrapbook

refactor: added environment object
  Memoria/Features/Scrapbook/Presentation/Components/Carousel/ScrapBookCarousel.swift
  Memoria/Features/Scrapbook/Presentation/Components/Carousel/ScrapBookCarouselCard.swift
Labels: presentation, feature, feature-scrapbook

chore: used swiftlint
  Memoria/Features/Scrapbook Editor/Domain/Entities/Content.swift
  Memoria/Features/Scrapbook Editor/Domain/Entities/ImageDatas.swift
  Memoria/Features/Scrapbook Editor/Domain/Entities/RGBValue.swift
  Memoria/Features/Scrapbook Editor/Domain/Entities/ScrapPageStackData.swift
Labels: domain, feature

chore: used swiftlint
  Memoria/Features/Scrapbook Editor/Presentation/Components/GestureHandlerComponent.swift
  Memoria/Features/Scrapbook Editor/Presentation/Components/ImageFilterComponent.swift
  Memoria/Features/Scrapbook Editor/Presentation/Components/ImageStackComponent.swift
  Memoria/Features/Scrapbook Editor/Presentation/Components/NavigationBarComponent.swift
  Memoria/Features/Scrapbook Editor/Presentation/Components/ToolBarComponent.swift
  Memoria/Features/Scrapbook Editor/Presentation/Components/ToolBarContentPreviewComponent.swift
  Memoria/Features/Scrapbook Editor/Presentation/Components/ToolPickerComponent.swift
Labels: presentation, feature

feat: added scrapbook and scrappage view model
  Memoria/Features/Scrapbook Editor/Presentation/Pages/ScrapbookDetailViewController.swift
  Memoria/Features/Scrapbook Editor/Presentation/Pages/ScrapbookEditorViewController.swift
Labels: presentation, feature

chore: used swiftlint
  Memoria/Features/Destination/Presentation/Components/TripNameFromView.swift
Labels: presentation, feature, feature-destination

fix: fixed scrapbooklocaldatasource not working
  Memoria/Features/Scrapbook/Data/Datasources/ScrapBookLocalDataSource.swift
Labels: data, feature, feature-scrapbook

fix: fixed scrappagelocaldatasource not working
  Memoria/Features/Scrapbook/Data/Datasources/ScrapPageLocalDataSource.swift
Labels: data, feature, feature-scrapbook

refactor: refactor the code to fix the datasource
  Memoria/Features/Scrapbook/Data/Models/ScrapBookCoreDataModel+CoreDataProperties.swift
  Memoria/Features/Scrapbook/Data/Models/ScrapPageCoreDataModel+CoreDataProperties.swift
  Memoria/Features/Scrapbook/Data/Repositories/ScrapBookRepositoryImpl.swift
  Memoria/Features/Scrapbook/Data/Repositories/ScrapPageRepositoryImpl.swift
Labels: data, feature, feature-scrapbook

refactor: refactor the code to fix the datasource
  Memoria/Shared/Domain/Entities/ScrapBook.swift
Labels: shared

chore: used swiftlint
  Memoria/Features/Destination/Presentation/ViewModel/DestinationViewModel.swift
Labels: presentation, feature, feature-destination

chore: used swiftlint
  Memoria/Features/Destination/Presentation/Pages/DestinationViewController.swift
Labels: presentation, feature, feature-destination

feat: added ScrapBookCard
  Memoria/Features/Scrapbook/Presentation/Components/ScrapBookCard.swift
Labels: presentation, feature, feature-scrapbook

feat: added ScrapBookDetailView
  Memoria/Features/Scrapbook/Presentation/Pages/ScrapBookDetailView.swift
Labels: presentation, feature, feature-scrapbook

feat: added ScrapBookDetailViewController
  Memoria/Features/Scrapbook/Presentation/Pages/ScrapBookDetailViewController.swift
Labels: presentation, feature, feature-scrapbook

.github/labeler.yml:

ci/cd:
  - .github/workflows/*

core:
  - Memoria/Core/**

shared:
  - Memoria/Shared/**

resource:
  - Memoria/Resource/**

domain:
  - Memoria/Features/**/Domain/**

data:
  - Memoria/Features/**/Data/**

presentation:
  - Memoria/Features/**/Presentation/**

feature:
  - Memoria/Features/**

feature-home:
  - Memoria/Features/Home/**

feature-destination:
  - Memoria/Features/Destination/**

feature-splash:
  - Memoria/Features/Splash/**

feature-scrapbook:
  - Memoria/Features/Scrapbook/**

feature-image-generator:
  - Memoria/Features/ImageGenerator/**

test:
  - MemoriaTests/**
  - MemoriaUITests/**

documentation:
  - README.md
  - ./*.md
