Repository Copu-Clock-Out-Pulang/Memoria, changes with the labels that .github/labeler.yml gives for each.
All labels: ci/cd, core, shared, resource, domain, data, presentation, feature, feature-home, feature-destination, feature-splash, feature-scrapbook, feature-image-generator, test, documentation

chore: removed line_limits
  .swiftlint.yml
Labels: none

feat: added assets
  Memoria/Resources/XCAssets+Generated.swift
Labels: none

feat: added scrapbook detail view
  Memoria.xcodeproj/project.pbxproj
  Memoria/Core/Storages/PersistenceController.swift
  Memoria/Resources/MemoriaCoreData.xcdatamodeld/Memoria.xcdatamodel/contents
  Memoria/Resources/Strings+Generated.swift
Labels: core

chore: merge from staging
  Memoria.xcodeproj/project.pbxproj
  Memoria/Features/Scrapbook Editor/Presentation/Pages/ScrapBookDetailViewController.swift
  Memoria/Resources/Strings+Generated.swift
  Memoria/Resources/XCAssets+Generated.swift
Labels: presentation, feature

feat: image picker and camera done
  Memoria.xcodeproj/project.pbxproj
  Memoria/Applications/AppDelegate.swift
  Memoria/Applications/SceneDelegate.swift
  Memoria/Core/Presentation/KeyboardAwareModifier.swift
  Memoria/Features/Destination/Presentation/Components/CameraCaptureView.swift
  Memoria/Features/Destination/Presentation/Components/ImagePicker.swift
  Memoria/Features/Destination/Presentation/Components/PhoneFrame.swift
  Memoria/Features/Destination/Presentation/Components/TripAreaForm.swift
  Memoria/Features/Destination/Presentation/Components/TripFamilyPhotoViewUI.swift
  Memoria/Features/Destination/Presentation/Components/TripNameFormUI.swift
  Memoria/Features/Destination/Presentation/Components/TripQuoteForm.swift
  Memoria/Features/Destination/Presentation/Pages/TripAreaViewController.swift
  Memoria/Features/Destination/Presentation/Pages/TripDateViewController.swift
  Memoria/Features/Destination/Presentation/Pages/TripFamilyPhotoViewController.swift
  Memoria/Features/Destination/Presentation/Pages/TripNameViewController.swift
  Memoria/Features/Destination/Presentation/Pages/TripQuoteViewController.swift
  Memoria/Features/Destination/Presentation/Pages/TripSelectAreaViewController.swift
  Memoria/Features/Splash/Presentation/Pages/SplashViewController.swift
Labels: core, presentation, feature, feature-destination, feature-splash

Code Refactor
  Memoria.xcodeproj/project.pbxproj
  Memoria/Features/Scrapbook Editor/Presentation/Components/GestureHandlerComponent.swift
  Memoria/Features/Scrapbook Editor/Presentation/Components/ImageFilterComponent.swift
  Memoria/Features/Scrapbook Editor/Presentation/Components/ImageStackComponent.swift
  Memoria/Features/Scrapbook Editor/Presentation/Components/NavigationBarComponent.swift
  Memoria/Features/Scrapbook Editor/Presentation/Components/ToolBarComponent.swift
  Memoria/Features/Scrapbook Editor/Presentation/Components/ToolBarContentPreviewComponent.swift
  Memoria/Features/Scrapbook Editor/Presentation/Components/ToolPickerComponent.swift
  Memoria/Features/Scrapbook Editor/Presentation/Pages/ScrapbookDetailViewController.swift
  Memoria/Features/Scrapbook Editor/Presentation/Pages/ScrapbookEditorViewController.swift
  Memoria/Features/Scrapbook Editor/Presentation/ViewModel/ScrapBookEditorViewModel.swift
Labels: presentation, feature

Code Refactor
  Memoria.xcodeproj/project.pbxproj
  Memoria/Features/Scrapbook Editor/Presentation/Pages/TempDetailViewController.swift
Labels: presentation, feature

feat: Code Refactor (#21)
  Memoria.xcodeproj/project.pbxproj
  Memoria/Features/Scrapbook Editor/Presentation/Components/GestureHandlerComponent.swift
  Memoria/Features/Scrapbook Editor/Presentation/Components/ImageFilterComponent.swift
  Memoria/Features/Scrapbook Editor/Presentation/Components/ImageStackComponent.swift
  Memoria/Features/Scrapbook Editor/Presentation/Components/NavigationBarComponent.swift
  Memoria/Features/Scrapbook Editor/Presentation/Components/ToolBarComponent.swift
  Memoria/Features/Scrapbook Editor/Presentation/Components/ToolBarContentPreviewComponent.swift
  Memoria/Features/Scrapbook Editor/Presentation/Components/ToolPickerComponent.swift
  Memoria/Features/Scrapbook Editor/Presentation/Pages/ScrapbookDetailViewController.swift
  Memoria/Features/Scrapbook Editor/Presentation/Pages/ScrapbookEditorViewController.swift
  Memoria/Features/Scrapbook Editor/Presentation/Pages/TempDetailViewController.swift
  Memoria/Features/Scrapbook Editor/Presentation/ViewModel/ScrapBookEditorViewModel.swift
Labels: presentation, feature

chore: changed thumbnail dummy to thumbnail new
  Memoria/Features/Scrapbook Editor/Presentation/Pages/ScrapbookEditorViewController.swift
  Memoria/Features/Scrapbook/Presentation/Components/Carousel/ScrapBookCarouselCard.swift
  Memoria/Resources/Assets.xcassets/ScrapPageThumbnailNew.imageset/Contents.json
  Memoria/Resources/Assets.xcassets/ScrapPageThumbnailNew.imageset/ScrapPageThumbnailNew.png
Labels: presentation, feature, feature-scrapbook

chore: used swiftlint
  Memoria/Features/Scrapbook Editor/Presentation/Components/GestureHandlerComponent.swift
  Memoria/Features/Scrapbook Editor/Presentation/Components/ImageFilterComponent.swift
  Memoria/Features/Scrapbook Editor/Presentation/Components/ImageStackComponent.swift
  Memoria/Features/Scrapbook Editor/Presentation/Components/NavigationBarComponent.swift
  Memoria/Features/Scrapbook Editor/Presentation/Components/ToolBarComponent.swift
  Memoria/Features/Scrapbook Editor/Presentation/Components/ToolBarContentPreviewComponent.swift
  Memoria/Features/Scrapbook Editor/Presentation/Components/ToolPickerComponent.swift
  Memoria/Features/Scrapbook Editor/Presentation/Pages/ScrapbookEditorViewController.swift
  Memoria/Features/Scrapbook Editor/Presentation/Pages/TempDetailViewController.swift
  Memoria/Features/Scrapbook Editor/Presentation/ViewModel/ScrapBookEditorViewModel.swift
  Memoria/Features/Scrapbook/Data/Datasources/ScrapBookLocalDataSource.swift
  Memoria/Features/Scrapbook/Data/Datasources/ScrapPageLocalDataSource.swift
  Memoria/Features/Scrapbook/Domain/Entities/CreateScrapBookForm.swift
  Memoria/Features/Scrapbook/Presentation/Components/Buttons/ScrapBookDeleteButton.swift
  Memoria/Features/Scrapbook/Presentation/Components/Buttons/ScrapPageCreateButton.swift
  Memoria/Features/Scrapbook/Presentation/Components/Buttons/ScrapPageEditButton.swift
  Memoria/Features/Scrapbook/Presentation/Components/Carousel/ScrapBookCarousel.swift
  Memoria/Features/Scrapbook/Presentation/Components/ScrapBookCard.swift
  Memoria/Features/Scrapbook/Presentation/Pages/ScrapBookDetailView.swift
  Memoria/Features/Scrapbook/Presentation/Pages/ScrapBookDetailViewController.swift
  Memoria/Features/Scrapbook/Presentation/ViewModel/ScrapBookViewModel.swift
Labels: domain, data, presentation, feature, feature-scrapbook

feat: added delete confirmation alert
  Memoria/Features/Scrapbook/Presentation/Components/Buttons/ScrapBookDeleteButton.swift
Labels: presentation, feature, feature-scrapbook

fix: fixed scrappage always generated blank content
  Memoria/Features/Scrapbook/Data/Models/ScrapPageCoreDataModel+CoreDataProperties.swift
Labels: data, feature, feature-scrapbook

feat: added edit button feature
  Memoria/Features/Scrapbook/Presentation/Components/Buttons/ScrapPageEditButton.swift
Labels: presentation, feature, feature-scrapbook

refactor: integrate the card to be able to select scrappage
  Memoria/Features/Scrapbook/Presentation/Components/Carousel/ScrapBookCarousel.swift
  Memoria/Features/Scrapbook/Presentation/Components/Sheet/EditScrapBookDetailSheet.swift
Labels: presentation, feature, feature-scrapbook

feat: added edit button method
  Memoria/Features/Scrapbook/Presentation/Components/Buttons/ScrapBookEditButton.swift
Labels: presentation, feature, feature-scrapbook

feat: added edit scrap book details
  Memoria/Features/Scrapbook/Presentation/Components/ScrapBookCard.swift
Labels: presentation, feature, feature-scrapbook

feat: added edit scrap book details
  Memoria/Features/Scrapbook/Presentation/Pages/ScrapBookDetailView.swift
Labels: presentation, feature, feature-scrapbook

feat: added scrap page share button
  Memoria/Features/Scrapbook/Presentation/Components/Buttons/ScrapPageShareButton.swift
Labels: presentation, feature, feature-scrapbook

feat: added scrap book edit details sheet
  Memoria.xcodeproj/project.pbxproj
  Memoria/Features/Scrapbook/Presentation/Components/Sheet/EditScrapBookDetailSheet.swift
  Memoria/Features/Scrapbook/Presentation/Pages/ScrapBookDetailViewController.swift
Labels: presentation, feature, feature-scrapbook

feat: destination detail done
  Memoria.xcodeproj/project.pbxproj
  Memoria/Features/Destination/Presentation/Components/DestinationDetail.swift
  Memoria/Features/Destination/Presentation/Components/TripDestinationUI.swift
  Memoria/Resources/Assets.xcassets/TreeLeft.imageset/Contents.json
  Memoria/Resources/Assets.xcassets/TreeLeft.imageset/TreeLeft.png
  Memoria/Resources/Assets.xcassets/TreeRight.imageset/Contents.json
  Memoria/Resources/Assets.xcassets/TreeRight.imageset/TreeRight.png
  Memoria/Resources/Assets.xcassets/TreeStraight.imageset/Contents.json
  Memoria/Resources/Assets.xcassets/TreeStraight.imageset/TreeStraight.png
  Memoria/Resources/Assets.xcassets/instagram.imageset/Contents.json
  Memoria/Resources/Assets.xcassets/instagram.imageset/instagram.png
  Memoria/Resources/XCAssets+Generated.swift
  Memoria/Shared/Domain/Entities/Coordinate.swift
  Memoria/Shared/Presentation/Components/VisualEffect/VisualEffectView.swift
Labels: shared, presentation, feature, feature-destination

refactor: changed how to get the scrappage
  Memoria/Features/Scrapbook Editor/Presentation/Pages/ScrapbookDetailViewController.swift
  Memoria/Features/Scrapbook/Presentation/Components/Buttons/ScrapBookDeleteButton.swift
  Memoria/Features/Scrapbook/Presentation/Components/Buttons/ScrapPageEditButton.swift
  Memoria/Features/Scrapbook/Presentation/Components/Buttons/ScrapPageShareButton.swift
  Memoria/Features/Scrapbook/Presentation/Components/Carousel/ScrapBookCarousel.swift
  Memoria/Features/Scrapbook/Presentation/Components/ScrapBookCard.swift
  Memoria/Features/Scrapbook/Presentation/Pages/ScrapBookDetailViewController.swift
Labels: presentation, feature, feature-scrapbook

fix: fixed scrappages won't load after exit from editor
  Memoria/Features/Scrapbook Editor/Presentation/Pages/ScrapbookEditorViewController.swift
  Memoria/Features/Scrapbook/Presentation/Components/Buttons/ScrapPageShareButton.swift
  Memoria/Features/Scrapbook/Presentation/Components/Carousel/ScrapBookCarousel.swift
  Memoria/Features/Scrapbook/Presentation/Pages/ScrapBookDetailViewController.swift
Labels: presentation, feature, feature-scrapbook

chore: used swiftlint
  Memoria/Features/Scrapbook Editor/Presentation/Pages/ScrapbookDetailViewController.swift
  Memoria/Features/Scrapbook Editor/Presentation/ViewModel/ScrapBookEditorViewModel.swift
  Memoria/Features/Scrapbook/Presentation/Components/Buttons/ScrapBookDeleteButton.swift
  Memoria/Features/Scrapbook/Presentation/Components/Buttons/ScrapBookEditButton.swift
  Memoria/Features/Scrapbook/Presentation/Components/Buttons/ScrapPageShareButton.swift
  Memoria/Features/Scrapbook/Presentation/Components/Carousel/ScrapBookCarousel.swift
  Memoria/Features/Scrapbook/Presentation/Components/ScrapBookCard.swift
  Memoria/Features/Scrapbook/Presentation/Components/Sheet/EditScrapBookDetailSheet.swift
  Memoria/Features/Scrapbook/Presentation/Pages/ScrapBookDetailView.swift
  Memoria/Features/Scrapbook/Presentation/Pages/ScrapBookDetailViewController.swift
  Memoria/Features/Scrapbook/Presentation/ViewModel/ScrapBookViewModel.swift
Labels: presentation, feature, feature-scrapbook

refactor: change Content entity to ScrapPageContent
  Memoria.xcodeproj/project.pbxproj
  Memoria/Features/Scrapbook Editor/Domain/Entities/ScrapPageContent.swift
  Memoria/Features/Scrapbook Editor/Presentation/Pages/ScrapbookEditorViewController.swift
  Memoria/Features/Scrapbook Editor/Presentation/ViewModel/ScrapBookEditorViewModel.swift
  Memoria/Features/Scrapbook/Presentation/Components/Buttons/ScrapPageEditButton.swift
Labels: domain, presentation, feature, feature-scrapbook

Share Button
  Memoria/Features/Scrapbook/Presentation/Components/Buttons/ScrapPageShareButton.swift
Labels: presentation, feature, feature-scrapbook

refactor: changed scrap page edit button
  Memoria.xcodeproj/project.pbxproj
  Memoria/Features/Scrapbook/Presentation/Components/Alert/EditScrapPageNameAlert.swift
  Memoria/Features/Scrapbook/Presentation/Components/Buttons/ScrapPageEditButton.swift
Labels: presentation, feature, feature-scrapbook

feat: save
  Memoria/Core/DI/InjectionContainer.swift
  Memoria/Core/Presentation/KeyboardAwareModifier.swift
  Memoria/Features/Destination/Data/Datasources/DestinationMigration.swift
  Memoria/Features/Destination/Presentation/Components/TripDestinationUI.swift
  Memoria/Features/Destination/Presentation/Pages/TripDestinationViewController.swift
  Memoria/Features/Destination/Presentation/ViewModel/DestinationViewModel.swift
  Memoria/Features/Scrapbook Editor/Domain/Entities/ScrapPageContent.swift
  Memoria/Resources/Strings+Generated.swift
  Memoria/Resources/XCAssets+Generated.swift
  Memoria/Shared/Presentation/Components/CustomDialog/CustomDialog.swift
Labels: core, shared, domain, data, presentation, feature, feature-destination

chore: regenerate swiftgen
  Memoria.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
  Memoria/Resources/Strings+Generated.swift
  Memoria/Resources/XCAssets+Generated.swift
Labels: none

fix: add swiftpm missing file
  Memoria.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
Labels: none

fix: fixed Package.resolved
  Memoria.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
Labels: none

refactor: used swiftgen
  Memoria/Resources/Strings+Generated.swift
  Memoria/Resources/XCAssets+Generated.swift
Labels: none

OnBording Done
  Memoria.xcodeproj/project.pbxproj
  Memoria.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
  Memoria/Applications/SceneDelegate.swift
  Memoria/Core/Storages/UserDefaultsController.swift
  Memoria/Features/OnBoarding/FirstOnBoardingViewController.swift
  Memoria/Features/OnBoarding/SecondOnBoardingViewController.swift
  Memoria/Features/OnBoarding/ThirdOnBoardingViewController.swift
  Memoria/Features/Splash/Presentation/Pages/SplashViewController.swift
  Memoria/Features/Splash/Presentation/ViewModel/SplashViewModel.swift
  Memoria/Resources/Assets.xcassets/OnBoarding/1.imageset/1.png
  Memoria/Resources/Assets.xcassets/OnBoarding/1.imageset/Contents.json
  Memoria/Resources/Assets.xcassets/OnBoarding/2.imageset/2.png
  Memoria/Resources/Assets.xcassets/OnBoarding/2.imageset/Contents.json
  Memoria/Resources/Assets.xcassets/OnBoarding/3.imageset/3.png
  Memoria/Resources/Assets.xcassets/OnBoarding/3.imageset/Contents.json
  Memoria/Resources/Assets.xcassets/OnBoarding/Contents.json
Labels: core, presentation, feature, feature-splash

Chore
  Memoria.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
Labels: none

feat: added feature to read scrapbooks to accommodate read single scrapbook
  Memoria/Features/Scrapbook/Presentation/ViewModel/ScrapBookViewModel.swift
Labels: presentation, feature, feature-scrapbook

Added Page Indicators
  Memoria/Features/Destination/Presentation/Components/TripAreaForm.swift
  Memoria/Features/Destination/Presentation/Components/TripDateFormUI.swift
  Memoria/Features/Destination/Presentation/Components/TripFamilyPhotoViewUI.swift
  Memoria/Features/Destination/Presentation/Components/TripNameFormUI.swift
  Memoria/Features/Destination/Presentation/Components/TripQuoteForm.swift
  Memoria/Resources/Assets.xcassets/Indicators/1.imageset/1.png
  Memoria/Resources/Assets.xcassets/Indicators/1.imageset/Contents.json
  Memoria/Resources/Assets.xcassets/Indicators/2.imageset/2.png
  Memoria/Resources/Assets.xcassets/Indicators/2.imageset/Contents.json
  Memoria/Resources/Assets.xcassets/Indicators/3.imageset/3.png
  Memoria/Resources/Assets.xcassets/Indicators/3.imageset/Contents.json
  Memoria/Resources/Assets.xcassets/Indicators/4.imageset/4.png
  Memoria/Resources/Assets.xcassets/Indicators/4.imageset/Contents.json
  Memoria/Resources/Assets.xcassets/Indicators/5.imageset/5.png
  Memoria/Resources/Assets.xcassets/Indicators/5.imageset/Contents.json
  Memoria/Resources/Assets.xcassets/Indicators/Contents.json
Labels: presentation, feature, feature-destination

chore: used swiftlint
  Memoria/Core/DI/InjectionContainer.swift
  Memoria/Features/Scrapbook/Presentation/Pages/ScrapBookDetailViewController.swift
Labels: core, presentation, feature, feature-scrapbook

feat: OnBording Done (#26)
  Memoria.xcodeproj/project.pbxproj
  Memoria/Applications/SceneDelegate.swift
  Memoria/Core/Storages/UserDefaultsController.swift
  Memoria/Features/OnBoarding/FirstOnBoardingViewController.swift
  Memoria/Features/OnBoarding/SecondOnBoardingViewController.swift
  Memoria/Features/OnBoarding/ThirdOnBoardingViewController.swift
  Memoria/Features/Splash/Presentation/Pages/SplashViewController.swift
  Memoria/Features/Splash/Presentation/ViewModel/SplashViewModel.swift
  Memoria/Resources/Assets.xcassets/OnBoarding/1.imageset/1.png
  Memoria/Resources/Assets.xcassets/OnBoarding/1.imageset/Contents.json
  Memoria/Resources/Assets.xcassets/OnBoarding/2.imageset/2.png
  Memoria/Resources/Assets.xcassets/OnBoarding/2.imageset/Contents.json
  Memoria/Resources/Assets.xcassets/OnBoarding/3.imageset/3.png
  Memoria/Resources/Assets.xcassets/OnBoarding/3.imageset/Contents.json
  Memoria/Resources/Assets.xcassets/OnBoarding/Contents.json
Labels: core, presentation, feature, feature-splash

feat: page indicator (#27)
  Memoria/Features/Destination/Presentation/Components/TripAreaForm.swift
  Memoria/Features/Destination/Presentation/Components/TripDateFormUI.swift
  Memoria/Features/Destination/Presentation/Components/TripFamilyPhotoViewUI.swift
  Memoria/Features/Destination/Presentation/Components/TripNameFormUI.swift
  Memoria/Features/Destination/Presentation/Components/TripQuoteForm.swift
  Memoria/Resources/Assets.xcassets/Indicators/1.imageset/1.png
  Memoria/Resources/Assets.xcassets/Indicators/1.imageset/Contents.json
  Memoria/Resources/Assets.xcassets/Indicators/2.imageset/2.png
  Memoria/Resources/Assets.xcassets/Indicators/2.imageset/Contents.json
  Memoria/Resources/Assets.xcassets/Indicators/3.imageset/3.png
  Memoria/Resources/Assets.xcassets/Indicators/3.imageset/Contents.json
  Memoria/Resources/Assets.xcassets/Indicators/4.imageset/4.png
  Memoria/Resources/Assets.xcassets/Indicators/4.imageset/Contents.json
  Memoria/Resources/Assets.xcassets/Indicators/5.imageset/5.png
  Memoria/Resources/Assets.xcassets/Indicators/5.imageset/Contents.json
  Memoria/Resources/Assets.xcassets/Indicators/Contents.json
Labels: presentation, feature, feature-destination

feat: create scrapbook from destination (#28)
  Memoria/Core/DI/InjectionContainer.swift
  Memoria/Core/Presentation/KeyboardAwareModifier.swift
  Memoria/Features/Destination/Data/Datasources/DestinationMigration.swift
  Memoria/Features/Destination/Presentation/Components/TripDestinationUI.swift
  Memoria/Features/Destination/Presentation/Components/TripNameFromView.swift
  Memoria/Features/Destination/Presentation/Pages/TripDestinationViewController.swift
  Memoria/Features/Destination/Presentation/ViewModel/DestinationViewModel.swift
  Memoria/Features/Scrapbook Editor/Domain/Entities/ScrapPageContent.swift
  Memoria/Features/Scrapbook Editor/Presentation/Pages/ScrapbookDetailViewController.swift
  Memoria/Features/Scrapbook/Presentation/Components/Buttons/ScrapPageShareButton.swift
  Memoria/Shared/Presentation/Components/CustomDialog/CustomDialog.swift
Labels: core, shared, domain, data, presentation, feature, feature-destination, feature-scrapbook

feat: add content launcher icon
  Memoria/Resources/Assets.xcassets/AppIcon.appiconset/Contents.json
Labels: none

.github/labeler.yml:

ci/cd:
  - .github/workflows/*

core:
  - Memoria/Core/**

shared:
  - Memoria/Shared/**

resource:
  - Memoria/Resource/**

domain:
  - Memoria/Features/**/Domain/**

data:
  - Memoria/Features/**/Data/**

presentation:
  - Memoria/Features/**/Presentation/**

feature:
  - Memoria/Features/**

feature-home:
  - Memoria/Features/Home/**

feature-destination:
  - Memoria/Features/Destination/**

feature-splash:
  - Memoria/Features/Splash/**

feature-scrapbook:
  - Memoria/Features/Scrapbook/**

feature-image-generator:
  - Memoria/Features/ImageGenerator/**

test:
  - MemoriaTests/**
  - MemoriaUITests/**

documentation:
  - README.md
  - ./*.md
